<section>
	<a href="http://ialja.com"><img src="/images/ialja-peeking-window.jpg" style="border: 0;"/></a>
  <p>Welcome to my blog! If you want to know more about me, visit my online hub at <a href="http://ialja.com">iAlja.com</a>.</p>
  <a href="https://twitter.com/iAlja" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @iAlja</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<br /><br />
<iframe src="//www.facebook.com/plugins/subscribe.php?href=https%3A%2F%2Fwww.facebook.com%2Fialja&amp;layout=button_count&amp;show_faces=true&amp;colorscheme=light&amp;font&amp;width=220&amp;appId=175062742522466" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:220px;height:30px" allowtransparency="true"></iframe>
<br /><br />
<a href="https://angel.co/ialja?follow=1&type=User&id=189535"></a><script src="https://angel.co/javascripts/embed.js" type="text/javascript"></script>
</section>
