<p>
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a>, hosted by <a href="http://pages.github.com">GitHub Pages</a>. Design by <a href="http://octopressthemes.com">Octopress Themes</a></span>
</p>
<p>Note: This website uses Google Analytics to track what content you find most interesting and thus help me plan future posts. If you do not wish to receive these delicious <a href="http://www.guardian.co.uk/technology/2012/apr/23/cookies-and-web-tracking-intro">cookies</a> on your computer, you can easily <a href="http://www.wikihow.com/Disable-Cookies">disable them</a>.</p>
